@page {
  size: legal;
  margin: 5mm 2mm 5mm 2mm;
  counter-increment: page;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: pre;
  color: grey;
  /* @top-left {
    content: "© 2018 My Company";
  }
  @top-center {
    content: string(chapter);
  }
  @top-right {
    content: "Page " counter(page);
  } */
}
