.md-main,
.md-typeset {
  font-size: 14px !important;
  color: #707070;
  line-height: 24px !important;
}

.md-sidebar * {
  font-size: 14px !important;
}

.md-typeset {
  code,
  pre {
    font-size: 1.2rem;
  }

  .codehilite,
  .highlight {
    .hll {
      display: inline;
      margin: 0 -0.5rem;
      padding: 0 0.5rem;
    }
  }

  .admonition {
    &.abstract {
      font-family: "Roboto Light" !important;
      font-size: 1.4rem;

      li {
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
      }

      & > .admonition-title {
        font-family: "Roboto Mono";
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 3rem;
        padding-left: 2.5rem;

        &::before {
          content: "";
        }
      }
    }
  }
}

mark .codehilite {
  background-color: transparent !important;
  box-shadow: none !important;
}

.codehilite:not(pre) {
  // color: #f89420 !important;
}
.codehilite pre {
  color: #ed2330;
}

details:not(.abstract) {
  // width: 50%;
  margin-left: 50%;
  font-size: 1.2rem;
}

hr {
  margin: 5rem 0 !important;
}

img {
  /* max-height: 50% !important; */
  max-width: 85% !important;
  margin: 0 7.5%;
  // margin: 1rem 0 0 !important;
  // clip: rect(2px, 2px, 2px, 2px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* border: 0.4rem solid #80828580 !important; */
  // border-left: 0.4rem solid rgba(0, 176, 255, 0.1) !important;
  // border-radius: 0.4rem !important;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
  //   0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}

.md-content {
  h1 {
    font-family: "Roboto Thin" !important;
    letter-spacing: -0.125rem;
    // font-size: 36px !important;
    /* font-weight: 500 !important; */
  }

  h2 {
    font-family: "Roboto Light" !important;
    letter-spacing: -0.0625rem;
  }

  h3 {
    font-family: "Roboto Light" !important;
    letter-spacing: -0.0625rem;
  }
}

h4 {
  font-family: "Roboto Medium" !important;
  font-weight: normal !important;
  margin-top: 4rem !important;
}

del {
  text-decoration: none;
  font-family: "Roboto Light" !important;
}

strong {
  font-weight: normal;
  font-family: "Roboto Light";
  margin: 0 0.25em;
  padding: 0.0625em 0;
  border-radius: 0.3rem;
  background-color: rgba(219, 219, 219, 0.6);
  box-shadow: 0.25em 0 0 rgba(219, 219, 219, 0.6),
    -0.25em 0 0 rgba(219, 219, 219, 0.6);
  word-break: break-word;
}

mark {
  font-family: "Roboto Mono";
  font-size: 1.3rem;
}
