{% extends "base.html" %}

{% block styles %}
{{ super() }}
<!-- <link rel="stylesheet" href="{{ base_url }}/css/bootstrap-3.3.7.min.css"> -->
<link type="text/css" rel="stylesheet" href="{{ base_url }}/css/ekko-lightbox.min.css">
{% endblock styles %}



{% block libs %}
{{ super() }}
<script src="{{ base_url }}/js/jquery-1.10.2.min.js"></script>
<!-- <script src="{{ base_url }}/js/jquery-3.3.1.min.js"></script> -->
<script defer src="{{ base_url }}/js/ekko-lightbox.min.js"></script>
<script type="text/javascript">
  $(document).ready(function ()
  {
    console.log('starting the damn loop');
    $("p > img").each(function ()
    {
      $(this).attr(
        {
          "data-toggle": "lightbox",
          "data-type": "image/png",
          "data-remote": $(this).attr('src')
        }
      );

      //      $(this).on('click', function (event)
      //      {
      //        event.preventDefault();
      //        $(this).ekkoLightbox();
      //      })
      //    });

      $(document).on('click', '[data-toggle="lightbox"]', function (event)
      {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    });
  });
</script>
{% endblock %}